[submodule "submodules/cubiomes"]
	path = submodules/cubiomes
	url = https://github.com/Cubitect/cubiomes.git
[submodule "submodules/sfmt"]
	path = submodules/sfmt
	url = https://github.com/MersenneTwister-Lab/SFMT.git
