[submodule "submodules/cubiomes"]
	path = submodules/cubiomes
	url = https://github.com/AeroAstroid/cubiomes.git
	branch = goats-filter
[submodule "submodules/sfmt"]
	path = submodules/sfmt
	url = https://github.com/MersenneTwister-Lab/SFMT
